#card-section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px;
}

#card-section-container .card-section:first-child {
    border: none;
}

#card-section-container .card-section:last-child {
    border: none;
}

#collection-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    border-bottom: 2px solid var(--border);
    margin: 0 10px;
}