#card-section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px;
}

#card-section-container .card-section:first-child {
    border: none;
}

#card-section-container .card-section:last-child {
    border: none;
}