.note-card {
    background-color: var(--social-bg);
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    text-align: left;
    min-height: 120px;
    word-break: break-word;
    cursor: grab;
}

.note-card h2 {
    margin: 0;
}

.note-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.title-field, .content-field {
    width: 100%;
    box-sizing: border-box;
    font: inherit;
    color: var(--text);
    background: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    padding: 0;
    margin: 0;
    resize: none;
    overflow: hidden;
}

.title-field:focus,
.content-field:focus {
    border-color: var(--transparent-bg);
}

.title-field::placeholder,
.content-field::placeholder {
    color: var(--transparent-bg);
}

.title-field {
    font-family: var(--heading);
    font-weight: 500;
    color: var(--text-h);
    font-size: 1.3em;
    line-height: 1.2em;
}

.color-picker {
    display: flex;
    padding: 5px;
    border-radius: 50px;
    background-color: transparent;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    border: 1px solid transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.color-picker.open {
    background-color: var(--transparent-alt);
    border-color: var(--transparent-bg);
}

.option-container {
    flex-direction: row;
    display: flex;
    gap: 2px;
    overflow: hidden;
    width: 0;
    opacity: 0;
    transition: width 0.3s ease, opacity 0.3s ease;
}

.color-picker.open .option-container {
    width: 174px;
    overflow: visible;
    opacity: 1;
}

.note-yellow {
    background-color: var(--yellow-bg);
}
.note-yellow .content-field {
    color: var(--yellow-h);
    placeholder-color: var(--yellow-h);
}

.note-blue {
    background-color: var(--blue-bg);
}
.note-blue .content-field {
    color: var(--blue-h);
}

.note-green {
    background-color: var(--green-bg);
}
.note-green .content-field {
    color: var(--green-h);
}

.note-red {
    background-color: var(--red-bg);
}
.note-red .content-field {
    color: var(--red-h);
}

.note-pink {
    background-color: var(--pink-bg);
}
.note-pink .content-field {
    color: var(--pink-h);
}

.note-orange {
    background-color: var(--orange-bg);
}
.note-orange .content-field {
    color: var(--orange-h);
}