:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --icon-filter: brightness(0.4);
  --transparent-bg: rgba(0, 0, 0, 0.5);
  --transparent-alt: rgba(255, 255, 255, 0.5);

    /* note colors */
    --yellow-bg: #fff279;
    --yellow: #d4d42a;
    --yellow-h: #9c8f1d;
    
    --blue-bg: #79b1ff;
    --blue: #3990e0;
    --blue-h: #1d589c;

    --green-bg: #79ff79;
    --green: #2ed534;
    --green-h: #1d9c25;
    
    --red-bg: #ff7979;
    --red: #e03b3b;
    --red-h: #9c1d1d;

    --orange-bg: #ffb279;
    --orange: #e27e36;
    --orange-h: #9c5a1d;

    --pink-bg: #ff79fb;
    --pink: #e639a1;
    --pink-h: #9c1d78;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  --error: #e12d1d;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

    --icon-filter: brightness(1);
    --transparent-bg: rgba(255, 255, 255, 0.5);
    --transparent-alt: rgba(0, 0, 0, 0.5);

      /* note colors */
    --yellow-bg: #7e751e;
    --yellow: #b7a717;
    --yellow-h: #ffe600;
    
    --blue-bg: #133b72;
    --blue: #176ab7;
    --blue-h: #00c3ff;

    --green-bg: #167213;
    --green: #00b71d;
    --green-h: #00ff55;
    
    --red-bg: #721313;
    --red: #b71d1d;
    --red-h: #ff0000;

    --orange-bg: #723b13;
    --orange: #b75a17;
    --orange-h: #ff8800;

    --pink-bg: #72134a;
    --pink: #b71d7a;
    --pink-h: #ff00aa;
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 36px;
  letter-spacing: -1.68px;
  margin: 16px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 8px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

/* base style classes */
.vlg {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hlg {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.image-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    color: var(--yellow);
}

.image-button img {
  filter: var(--icon-filter);
  transform: scale(1);
  transition: transform 0.3s ease;
  will-change: transform;
}

.image-button:hover img {
  transform: scale(1.1);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--border);
}

#page-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    border-bottom: 2px solid var(--border);
    margin: 0 10px;
}